<% include ../partials/header %>


<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/github.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://rawgit.com/totaljs/components/master/0dependencies/jctajr.min.js"></script>


<style>
  
  
  #html{
    background:#4c4c4c;
    font-family: 'Roboto Mono', monospace;
    color:#cecccc;
    box-shadow: 3px 3px 3px black;
    height:400px;
   resize: horizontal;
  }
  
  
  #html:focus{
   background-color:black;
   color:#8300f7;
   border:solid 2px gray;
  }
  
   #css:focus{
   background-color:black;
   color:#8300f7;
   border:solid 2px gray;
  }
  
   #js:focus{
   background-color:black;
   color:#8300f7;
   border:solid 2px gray;   
  }
  
  
  #css{
    background:#cecccc;
    font-family: 'Roboto Mono', monospace;
     color:#4c4c4c;
    box-shadow: 3px 3px 3px black;
    height:400px;
     resize: horizontal;
   
  
  }
  
  #js{
    font-family: 'Roboto Mono', monospace;
    background:#ea9ff4;
    color:#620775;
      box-shadow: 3px 3px 3px black;
    height:400px;
     resize: horizontal;
  
    
  }
  
  
  
  .ui.huge.header{
    text-align:center;
    color:purple;
    background:whitesmoke;
    margin-right:100px;
    margin-left:100px;
    padding-left:5px 5px  purple;
    border-radius:8px;
    box-shadow: 3px 3px 3px black;
   
  }
  
  #workspace{
    background-color:#8300f7;
/*     padding-left:60px; */
    margin-top:20px;
   padding-top:50px;
    border-radius:10px;
  }
  
  #htmlarea,#cssarea,#jsarea{
    background-color:#d181ea;
   font-family: 'Roboto Mono', monospace;
  }
  
  
  #submitform{
    border: solid 2px purple;
  }
  
  .hide{
    display:none;
  }
  
  #togglers{
    align-content:center;
    margin-left:0 auto;
  }
  
  #hidehtml:hover{
    background-color:whitesmoke;
    color:black;
  }
     #hidehtml:focus{
    background-color:#8ddb0f;
    color:black;
  }
 
    #hidecss:hover{
    background-color:whitesmoke;
    color:black;
  }
  
    #hidecss:focus{
    background-color:#8ddb0f;
    color:black;
  }
  
  
    #hidejs:hover{
    background-color:whitesmoke;
    color:black;
  }
  
     #hidejs:focus{
    background-color:#8ddb0f;
    color:black;
  }
  
  
  #labels{
    text-align:center;
    color:whitesmoke;
    background-color:black;
    border-radius:5px;
    padding-right: 2px;
    padding-left: 2px;
    margin-top:10px;
  }
  
  #workspacelogo{
    background-color:black;
    color:whitesmoke;
    font-size:15px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-top:10px;
    border-radius:6px;
   
  }
  
  #preview{
    width:100%;
    border:solid 2px purple;
    margin-top:10px;
  }
/*   #codebox{
    border: solid 1px whitesmoke;
    margin-right:50px;
    margin-left:30px;
  } */
  
  #preview{
    height:700px;
    border:solid 1px black;
  }
  
  #previewbutton{
    width:95%;
    height:95%;
   
    background-color:purple;
  }
  
  #previewtext{
     color:whitesmoke;
    font-size:25px;

  
  }
  
  #previewtext:hover{
     color:black;
     background-color:purple;
  }  
  
  
  #whole{
    border:solid 2px white;
    background-color:black;
    margin-left:50px;
    margin-right:50px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:10px;
  }
  
  #whole:hover{
      background-color:purple;
    color:black;  
  }
  
  
  
  #live{
    color:purple;
    font-size:100px;
    margin-left: 100px;
    margin-top:100px;
  }
  
  #previewunit{
    background-color:white;
    border:solid 4px purple;
  }
  
  
  
</style>


<!-- ooooooooooooooooooooooooooooooooooooooooxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxoooooooooooooo -->


 



<div id="workspace" class = "container">
  
  <div class = "ui huge header">CodeSteak <span id="workspacelogo">workspace ~ 0.1</span></div>
  
<div id="togglers">
  <button class="ui  medium  black button" id="hidehtml">Hide HTML</button>
 <button class="ui  medium  black button" id="hidecss">Hide CSS</button>
 <button class="ui  medium  black button" id="hidejs">Hide JAVASCRIPT</button>
</div>
  
  
  <form class = "ui form" action="/blogs/run/preview" method = "POST">
    
    
    <div id="codebox" class="ui grid">
      
      
  <div class="five wide column">
    <div data-jc="highlightsyntax" data-jc-config="type:html" data-jc-path="exampleHTML">
       <div class = "field">
      <label id="labels">HTML</label>
     
       <textarea  id="html" type = "text" name = "html" spellcheck="false"><%=html%></textarea>
        </div>
    </div>
   
      </div>
      
      

      
      
  <div class="five wide column">
     <div class = "field">
        <label id="labels">CSS</label>
     <textarea spellcheck="false" id="css" type = "text" name = "css" spellcheck="false"><%=css%></textarea>
        </div>
      </div>
      
      

      
      
      
  <div class="five wide column">
      <div class = "field">
        <label id="labels">JAVA SCRIPT</label>
        <textarea spellcheck="false" id="js" name = "javascript" spellcheck="false"><%=javascript%></textarea> 
     </div>
      </div>
      
      
       <div class="one wide column">
       <button>
         RUN
         </button>
    </div>
</div>
    
   <div class="ui grid">
      
     
    <div id="previewunit" class="sixteen wide column">
       
      
      
      
      
    <% include ../preview %>
      
      
  
      
     </div> 
    </div> 
    
    
    
   
    
    
    
    
    
      
    
    
    
    
    
    
     

      
  </form>
    
</div>


<!-- ooooooooooooooooooooooooooooooooooooooooxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxoooooooooooooo -->

<div id="submitform" class = "ui main text container segment">
  <div class = "ui huge header">New Post</div>
  <form class = "ui form" action="/blogs" method = "POST">
    
    
    <div class = "field">
      <label>HTML</label>
       <textarea  id="htmlarea" type = "text" name = "html" spellcheck="false" readonly></textarea>
        </div>
    
     <div class = "field">
        <label>CSS</label>
     <textarea spellcheck="false" id="cssarea" type = "text" name = "css" spellcheck="false" readonly></textarea>
        </div>
    
      <div class = "field">
        <label>JAVA SCRIPT</label>
        <textarea spellcheck="false" id="jsarea" name = "javascript" spellcheck="false" readonly></textarea> 
     </div>
    
    <div class = "field">
      <label>Title</label>
       <input type = "text" name = "title" placeholder="title">
        </div>
    
     <div class = "field">
        <label>Image</label>
     <input type = "text" name = "image" placeholder="Image">
        </div>
    
      <div class = "field">
        <label>About</label>
        <textarea name = "body" placeholder="body"></textarea> 
     </div>
    
     
  
          <input class="ui  big inverted violet button" type = "submit" >
  </form>
  
  
  
  
</div>

 <!-- ooooooooooooooooooooooooooooooooooooooooxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxoooooooooooooo -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>

<script>
    function transferhtml() {
 var htmltext = document.getElementById('html').value;
   
 document.getElementById("htmlarea").innerHTML = htmltext;
    
   //console.log(htmltext);
}
     function transfercss() {
 var csstext = document.getElementById('css').value;
 document.getElementById("cssarea").innerHTML = csstext;
  // console.log(htmltext);
}
  
  
       function transferjs() {
 var jstext = document.getElementById('js').value;
 document.getElementById("jsarea").innerHTML = jstext;
  // console.log(htmltext);
}
  
  
  
 setInterval(transferhtml,10); 
 setInterval(transfercss,10); 
 setInterval(transferjs,10); 

  
  
  
  $(document).ready(function(){
    $("#hidehtml").click(function(){
        $("#html").toggleClass("hide");
      
      
       if ($("#hidehtml").text() == "Hide HTML")
       $(this).text("Show HTML")
    else
       $(this).text("Hide HTML");
      
    });
});
  
  
  
  
  
    $(document).ready(function(){
    $("#hidecss").click(function(){
        $("#css").toggleClass("hide");
      
      
      
      
          if ($("#hidecss").text() == "Hide CSS")
       $(this).text("Show CSS")
    else
       $(this).text("Hide CSS");
    });
});
  
  
 
  
  
  
    $(document).ready(function(){
    $("#hidejs").click(function(){
        $("#js").toggleClass("hide");
      
      
      
          if ($("#hidejs").text() == "Hide JAVASCRIPT")
       $(this).text("Show JAVASCRIPT")
    else
       $(this).text("Hide JAVASCRIPT");
    });
});


  
  
//    $.(function preview(){
//         $('#previewunit').html('<object data="https://codesteak-swatipandey495325121.codeanyapp.com/blogs/run/preview">');
//     });
  
  
  
  
</script>


<link rel = "stylesheet"  type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:700" rel="stylesheet">






















<% include ../partials/footer %>