
<% include ../partials/header %>









<div class = "ui main text container segment">
  <div class = "ui huge header">Add Comment</div>
  <form class = "ui form" action="/blogs/<%= blog._id %>/comments/" method = "POST">
    
    <div  class = "field">
      <label>Title</label>
       <input type = "text" name = "comment[text]" placeholder="text">
        </div>
   
     
 
          <input class="ui  big inverted violet button" value ="Comment" type = "submit" >
  </form>
</div>







<% include ../partials/footer %>