<% include ./partials/header %>


  <form action = "/ProjectImageUpload/<%=blog._id%>" method="POST" enctype="multipart/form-data">
     
       
     <input type="file" name="file" ></input><br>
      
 <input type="submit" name="submit" value="Save"></input>
     </form> 


<h1>
  <%=blog.title%>
</h1>



 <form class = "ui form" action = '/blogs/new/confirm/<%=blog._id%>/<%=user.username%>/' method = "post">
<button class="ui  small  violet button"  >Confirm</button> 
 </form>