 


<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>
<link rel = "stylesheet"  type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:700" rel="stylesheet">


<style>
  
  
  #html{
    background:#4c4c4c;
    font-family: 'Roboto Mono', monospace;
    color:#cecccc;
  }
  
  #css{
    background:#cecccc;
    font-family: 'Roboto Mono', monospace;
     color:#4c4c4c;
  }
  
  #js{
    font-family: 'Roboto Mono', monospace;
    background:#ea9ff4;
    color:#620775;
    
  }
  .ui.huge.header{
    color: whitesmoke;
    background:purple;
  }
  
  
</style>





<div class = "ui main text container segment">
  <div class = "ui huge header">CODESTEAK workspace</div>
  <form class = "ui form" action="/courses/:id/59f88c5545f8bc07035c1b74/run" method = "POST">
    
    <div class = "field">
      <label>HTML</label>
       <textarea  id="html" type = "text" name = "html" spellcheck="false"></textarea>
        </div>
    
     <div class = "field">
        <label>CSS</label>
     <textarea spellcheck="false" id="css" type = "text" name = "css" spellcheck="false"></textarea>
        </div>
    
      <div class = "field">
        <label>JAVA SCRIPT</label>
        <textarea spellcheck="false" id="js" name = "javascript" spellcheck="false"></textarea> 
     </div>
    
     
  
          <input class="ui  big inverted violet button" type = "submit" >
  </form>
  
  
  
 
  
  
</div>







