<!DOCTYPE html>
<html>
  <head>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <style>
      <%-css%>
    </style>
    
    <meta charset="utf-8">
    <title></title>
  </head>
  
  
  <body>
      <%-html%>
  </body>
  
  
  <script>
     <%-javascript%>
  </script>
  
  
</html>