       <div class="row">
   <div class="col col-lg-12" style="height:110px;background-color:red;text-align:center;">
 <p style="margin-top:6px;color:white;font-size:20px;font-family: 'Open Sans', sans-serif;">
   <%=currentUser.username%>, you have new notifications </p>
     <div style="margin-top:20px;">
     <a href="/FRnotifications"><span style="color:red;font-size:30px;background-color:white;
                                             padding:2px 10px 2px 10px;
                                             border-radius:5px;
                                             font-family: 'Open Sans', sans-serif;">Checkout Now</span></a>
     </div>
    </div>
  </div> 

