   <div class="row">
    
  <div class= "col col-lg-6 col-sm-12 col-xs-12" id="">

        <button id="login" type="button" data-toggle="modal" data-target="#myModal"><strong>Login</button>
     
      
   </p></strong>
       </div>
        
  
     <div class="col col-lg-6 col-sm-12 col-xs-12">
   <button id="getstarted"  type="button"><strong>GetStarted</strong></button>
     </div>  
     
</div> 